@model MyMvcApp.Models.Schedule

<h1>Редагування розкладу</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <label>Час:</label>
    <input type="text" asp-for="Time" />
    
    <label>Предмет:</label>
    <input type="text" asp-for="Subject" />

    <button type="submit">Зберегти</button>
</form>
