@model IEnumerable<MyMvcApp.Models.Faculty>

    @{
    ViewData["Title"] = "Список факультетів";
    }

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Список факультетів</h2>
    </div>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Назва</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faculty in Model)
    {
            <tr>
                <td>@faculty.Name</td>
                <td>@faculty.ShortName</td>
            </tr>
    }
            <tr>
                <td colspan="2">
                    <a class="btn btn-success" asp-action="Create">Додати</a>
                </td>
            </tr>
        </tbody>
    </table>
