@model MyMvcApp.Models.TeacherFormViewModel

@{
    ViewData["Title"] = "Редагувати викладача";
}

<h2>Редагувати викладача</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Teacher.Id" />

    <div class="form-group">
        <label asp-for="Teacher.FullName" class="control-label">ПІБ викладача</label>
        <input asp-for="Teacher.FullName" class="form-control" />
        <span asp-validation-for="Teacher.FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Teacher.Position" class="control-label">Посада</label>
        <select asp-for="Teacher.Position" class="form-control">
            <option value="Доцент">Доцент</option>
            <option value="Асистент">Асистент</option>
            <option value="Професор">Професор</option>
        </select>
        <span asp-validation-for="Teacher.Position" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Teacher.FacultyId" class="control-label">Факультет</label>
        <select asp-for="Teacher.FacultyId" class="form-control" asp-items="Model.FacultiesOptions">
            <option value="">Select Faculty</option>
        </select>
        <span asp-validation-for="Teacher.FacultyId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a asp-controller="Teacher" asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>